[oh-my-zsh]
	hide-status = 1
# [credential]
# 	helper = store
[init]
	defaultBranch = main
[color]
	ui = always
[user]
	name = Danilo C.
	email = 
[core]
	pager="less -F -X"
[alias]
	co = checkout
	cm = commit -m
	s = status -s
	sm = status -s -uno
	diffc = diff --color-words
	lp  = log --pretty=format:'%Cred%h%Creset %C(yellow)%d%Creset %s %Cgreen(%cd)%Creset' --abbrev-commit --date=rfc
	lpu = log --pretty=format:'%Cred%h%Creset %C(yellow)%d%Creset %s %Cgreen(%cr)%Creset - %C(magenta)%cn%Creset' --abbrev-commit --date=relative
	lpn = log --pretty=format:'%Cred%h%Creset %C(yellow)%d%Creset %s %Cgreen(%cr)%Creset - %C(magenta)%cn%Creset' --abbrev-commit --date=relative -n
	lpd = log --pretty=format:'%Cgreen%cd%Creset %Cred%h%Creset %C(yellow)%d%Creset %s' --abbrev-commit --date=short
	logg = log --grep
	log-tree= log --graph --oneline --decorate --all